<form method="POST" action="/bubbleSort">
  <div class = "newProduct">
    <div class = "array">
      <input type="text" name="cell"></input>
      <input type="text" name="cell"></input>
      <input type="text" name="cell"></input>
      <input type="text" name="cell"></input>
      <input type="text" name="cell"></input>
      <input type="text" name="cell"></input>
      <input type="text" name="cell"></input>
      <input type="text" name="cell"></input>
    </div>
  </div>
</form>